<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBqBuYxw0swlhTQNpIljBdCyCR3-h0ANug</string>
	<key>GCM_SENDER_ID</key>
	<string>91935423285</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.muath.saleeh</string>
	<key>PROJECT_ID</key>
	<string>mbuy-tools</string>
	<key>STORAGE_BUCKET</key>
	<string>mbuy-tools.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:91935423285:ios:7cdab218f299d395d22a7c</string>
</dict>
</plist>git add .
git status